.modal{
  background: white;
  color: #14233b;
  position: absolute;
  z-index: 10;
  top: calc(50% - 15rem);
  height: 30rem;
  width: calc(100% - 4rem);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal_body{
  height: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  font-size: 1.6rem;
}
.modal_btn{
  width: 10rem;
  align-self: center;
  height: 4rem;
  background-color: #1669ef;
  border: 1px solid #1669ef;
}
@media screen and (min-width: 600px) {
  .modal{
    width: 30rem;
    left: calc(50% - 15rem);
    height: 25rem;
    top: calc(50% - 12.5rem);
  }
}