.padded-body{
    padding: 3.5rem 1rem;
    position: relative;
}
.notification__body{
    position: fixed;
    text-align: center;
    padding: 1rem;
    /* height: 25rem; */
    width: calc(100% - 4rem);
    left: 1rem;
    z-index: 2;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: calc(50% - 12.5rem);
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.18);
    border: 1px solid #cf4241;
    display: none;
}
.close-notification{
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 100%;
    background-color: white;
    color: #cf4241;
    position: absolute;
    top: -1rem;
    right: -.5rem;
    border: 1px solid #cf4241;
}
.fa-close{
    margin: 0;
    font-size: 1.3rem;
    color: #db2727;
}
.navigation__wrapper button{
    font-size: 1.25rem;
    height: 3rem;
    width: 9rem;
    border: 1px solid #cf4241;
    background: #cf4c41;
    border-radius: .25rem;
    margin: 0 .5rem;
    color: white;
    font-weight: 500;
}
.navigation__wrapper div:nth-of-type(1),
.navigation__wrapper div:nth-of-type(2){
    margin: 0 1rem;
    display: flex;
    align-items: center;
    padding: 0 .5rem;
    justify-content: center;
}
.navigation__wrapper a{
    text-decoration: none;
    color: #117d5a;
}
.image-div{
    position: relative;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.image-div img{
    height: 10rem;
    width: 10rem;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}
.settings{
    height: 3rem;
    width: 3rem;
    position: absolute;
    font-size: 1.8rem;
    top: 2rem;
    right: 2rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .text-div{
    border: 1px solid rgba(242, 178, 28, 0.5);
    border-radius: .25rem;
    padding: .5rem 1rem;
    background: #f2b21c;
} */
.details{
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid rgba(29, 57, 72, 0.1);
    margin: 1rem 0;
    padding: 0 .5rem;
    background-color: white;
    /* border: 1px solid; */
    /* padding: 0 1rem; */
    /* margin: .5rem 0; */
}
.details p:nth-of-type(1){
    margin: 0;
    font-size: 1.3rem;
    color: #1d394a;
    letter-spacing: 1px;
    font-weight: 600;
    /* border-bottom: 1px solid rgba(242, 178, 28, 0.5); */
}
.details p:nth-of-type(2){
    margin: 0;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 1px;
}
.report-summary{
    margin-top: 5rem;
}
.select-report-div{
    display: flex;
    height: 8rem;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid rgba(35, 148, 140, 0.55);
    padding: 0 .5rem;
    border-radius: .25rem;
}
.select-report-div label{
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 500;
    color: #1d394a;
}
.select-report-div select{
    height: 3.5rem;
    border: 1px solid rgba(29, 57, 74, 0.1);
    background-color: rgba(29, 57, 74, 0.1);
    border-radius: .25rem;
    outline: none;
    color: #0c0000;
    padding: .5rem 1rem;
}
.title-div h2{
    color: #1d394a;
    letter-spacing: -1px;
    margin: .5rem 0;
}
#red-flag-div .report-wrapper,
#intervention-div .report-wrapper{
    border: 1px solid rgba(207, 66, 65, 0.75);
    padding: 1rem .5rem;
    margin: 3rem 0;
}
.break-down-wrapper{
    border: 1px solid rgba(25, 61, 74, 0.1);
    padding: .25rem .5rem;
    margin: 2rem 0;
}
.breakdown-details{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .25rem;
    border-bottom: 1px solid rgba(29, 57, 74, 0.1);
}
#intervention-div{
    display: none;
}
#intervention-div .report-wrapper{
    border: 1px solid #117d5a;
}
.name-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 4rem);
}
.name-div p:nth-of-type(1){
    width: 50%;
    border-right: 1px solid rgba(29, 57, 74, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.name-div p:nth-of-type(2){
    width: 50%;
    border-left: 1px solid rgba(29, 57, 74, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-cog{
    color: #1d394a;
}
@media screen and (min-width: 700px){
    .padded-body{
        padding: 3rem 20rem;
        /* background: rgba(242, 178, 28, 0.75); */
    }
    .body__content{
        padding: 1rem;
        background: white;
        border-radius: .25rem;
        border: 1px solid rgba(17, 125, 90, 0.25);
        box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4)
    }
}
@media screen and (min-width: 900px){
    .padded-body{
        padding: 3rem 30%;
    }
}