.signup__body{
  background-color: #d2d2d2;
}
.content{
  height: calc(100% - 20px);
  padding: 10px;
}
.content__body{
  height: inherit;
  border: 1px solid #13243b;
  padding: 10px;
  border-radius: 2.5px;
  background-color: #13243b;
  color: white;
  box-shadow: 5px 5px 10px -6px #13243b;
  position: relative;
}
.signupAside{display: none;}
.form__navigation{
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: flex-end;
  padding: .5rem 0;
}
.form__navigation div{
  height: 2.5rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  position: relative;
  width: 2.5rem;
}
.form__navigation div:nth-of-type(1){
  border-radius: 1rem 0 0 1rem;
  background-color: #43b14b;
  border: 1px solid #43b14b;
}
.form__navigation div:nth-of-type(2){
  border-radius: 0 1rem 1rem 0;
  background-color: rgba(21, 66, 128, 0.5);
  border: 1px solid rgba(21, 66, 128, 0.5);
}
.links{
  color: white;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
.form__inputs{
  height: calc(100% - 3.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.inputDiv{
  display: flex;
  flex-direction: column;
  height: 6.5rem;
  justify-content: space-evenly;
}
.signup__body input{
  height: 3rem;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #8791a2;
  outline: none;
  letter-spacing: 1px;
  font-weight: 200;
  color: white;
}
.signup__body ::placeholder{
  color: #8791a2;
  font-weight: 100;
  font-size: 1.23rem;
  letter-spacing: 1px;
}
.signup__body button{
  height: 3.5rem;
  padding: 0 2.5rem;
  border-radius: .3rem;
  background-color: #43b14b;
  border: 1px solid #43b14b;
  color: black;
  font-size: 1.2rem;
}
.signup__body label{
  font-weight: 200;
    letter-spacing: .2rem;
    font-size: 1.2rem;
}
.signup__body #loader-div{
  display: none;
}
.notification-div{
  position: fixed;
    height: 300px;
    background: white;
    left: 10px;
    width: calc(100% - 40px);
    top: calc(50% - 150px);
    padding: 10px;
    color: #090927;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}
#close-notification{
  position: absolute;
    border: 1px solid red;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 100%;
    background: white;
    top: -1rem;
    right: -1rem;
}
@media only screen and (min-device-width: 700px){
  .content{
    height: calc(100% - 70px);
    padding: 35px;
  }
  .content__body{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #form{
    padding: 1rem;
  }
  .form__inputs{
        height: calc(100% - 5.5rem);
  }
  .signupAside{
    padding: 1rem;
    display: block;
  }
  .notification-div{
    left: 35px;
    width: calc(100% - 90px);
    top: calc(50% - 185px);
  }
  .signupAside img{
        object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center;
  }
}
@media only screen and (min-device-width: 900px){
  .content{
        height: calc(100% - 14rem);
    padding: 7rem 20rem;
  }
  .notification-div{
    left: 20rem;
    width: calc(100% - 42rem);
    top: calc(50% - 200px);
    font-size: 1.8rem;
  }
}